---
pagination:
  data: langs
  size: 1
  alias: lang
permalink: "{{ lang.href }}archive/"
layout: archive-layout.njk
---

<div id="content" class="content">
    <h1 class="title">Archive</h1>
    {% set postList = collections[lang.type] | reverse %}
    {% include 'post-list.njk' %}    
</div>
