---
lang:
  type: en
  href: /
pagination:
  data: collections.enTagsList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: post-layout
---

<div id="content" class="content">
    <h1 class="title">{{ tag | capitalize }}</h1>
    {% set lang = {href : "/"} %}
    {% set enPostList = collections.en %}
    {% set postList = [] %}
    {% for post in enPostList %}
	{% if post.data.tags.indexOf(tag) > -1  %}
	    {% set postList = (postList.push(post), postList) %}
	{% endif %}
    {%endfor%}
    {% include 'post-list.njk' %}    
</div>
