---
pagination:
        data: langs
        size: 1
        alias: lang
permalink: "/{{ lang.href | slugify }}/"
layout: base-layout.njk
---

{% include 'header.njk' %}

<article>

    <!-- About Section -->
    <h2> </span> {{ lang.about }} </h2>
    <p>{{ lang.me | safe }}</p>

    <!-- Latest Posts Section -->
    <h2> {{lang.latest}} </h2>
    {% set postList = collections[lang.type] | reverse %}
    {% set allSize = postList | length%}
    {% set postList = postList.slice(0, project.indexPostSize) %}
    {% set indexPostSize = postList | length %}
    {% include 'post-list.njk' %}

    <!-- Show More Link -->
    <div class="more">

        <a href="{{ lang.href }}archive/">{{ lang.more | replace("%d", allSize - indexPostSize) }} </a>
        <!-- <a href="{{ lang.href }}archive/">Show more {{allSize - indexPostSize}} articles </a> -->

    </div>

    <!-- Categories Section -->
    <h2> {{lang.categories}} </h2>
    <div class="categories">
    {% set tagsList = collections[lang.type+"TagsList"] %}
    {% include 'tag.njk' %}
    </div>
</article>

{% include 'footer.njk' %}
