---
pagination:
  data: langs
  size: 1
  alias: lang
permalink: "/{{ lang.href | slugify }}/"
layout: base-layout.njk
---

{% include 'header.njk' %}

<article>

    {% include 'about.njk' %}
    
    <h2> Latest </h2>
    {% set postList = collections[lang.type] %}
    {% set allSize = postList | length%}
    {% set postList = postList.slice(0, project.indexPostSize) %}
    {% set indexPostSize = postList | length %}
    {% include 'post-list.njk' %}

    <div class="more">
	<a href="{{ lang.href }}archive/">show more {{allSize - indexPostSize}} articles </a> 
    </div>

    <h2> Categories </h2>
    <div>
	<div class="categories">
	    {% set tagsList = collections[lang.type+"TagsList"] %}
	    {% include 'tag.njk' %}
	</div>
    </div>

</article>

{% include 'footer.njk' %}


