---
lang:
  type: zh
  href: /zh/
pagination:
  data: collections.zhTagsList
  size: 1
  alias: tag
permalink: /zh/tags/{{ tag }}/
layout: archive-layout
---

<div id="content" class="content">
    <h1 class="title">{{ tag | capitalize }}</h1>
    {% set zhPostList = collections.zh | reverse %}
    {% set postList = [] %}
    {% for post in zhPostList %}
	{% if post.data.tags.indexOf(tag) > -1  %}
	    {% set postList = (postList.push(post), postList) %}
	{% endif %}
    {%endfor%}

    {% include 'post-list.njk' %}    
</div>
