<footer>
    <div id="postamble" class="status">
	<div id="postamble" class="status">
	    <footer>
		<small>© Copyright {{ project.currentYear }}, {{ project.author }}
		</small>
	    </footer>
	</div>
    </div>
</footer>
