<header>
    <div id="preamble">
	<div>
	    <a aria-current="page" class="font-effect-shadow-multiple header-title" href="{{ lang.href }}"> {{ project.title }} </a>
            <div class="nav">
                {% for nav in navs %}
                    {% if (not nav.lang or nav.lang == lang.type) and nav.position == 'header'  %}
                        <div class="image-container">
                            <a href= "{{ nav.href }}"  class= "{{ nav.type }}">
	                        <img width="24" height="24" src="{{ nav.src }}" alt="{{ nav.type }}">
                            </a>
                            <a href="{{ nav.href }}" class="image-text"> {{nav.show}}  </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="header-line">
	    </div>
	</div>
    </div>
</header>
