<header>
  <div id="preamble">
    <div>
      <a aria-current="page" class="font-effect-shadow-multiple header-title" href="{{lang.href}}"> {{ project.title }} </a>
      <div class="header-line">
      </div>
    </div>
  </div>
</header>

