{% set currentPost = collections[lang.type] | getCollectionItem %}
{% set tagsList = currentPost.data.tags %}

<center>
    <div>
	<div class="categories">
	    {% include 'tag.njk' %}
	</div>
    </div>
</center>
