---
layout: base-layout.njk
---

{% include 'header.njk' %}
<link rel="stylesheet" type="text/css" href="/static/css/thoughts.css" defer>

<article>
    {{ content | linkify | douban_card | safe }}
</article>

{% include 'footer.njk' %}
